
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
	<meta property="og:title" content="Scorpion spider" />
	<meta property="og:locale" content="en_US" />
	<meta name="description" content="Information about gorgeous scorpion spider" />
	<meta property="og:description" content="Information about gorgeous scorpion spider" />
	<link rel="canonical" href="https://crimsonred.github.io/" />
	<meta property="og:url" content="https://crimsonred.github.io/" />
	<meta property="og:site_name" content="Scorpion spider" />
	<script type="application/ld+json">
		{"@type":"WebSite","headline":"Scorpion spider","url":"https://crimsonred.github.io/","description":"Information about gorgeous scorpion spider","name":"Scorpion spider","@context":"https://schema.org"}
	</script>

    <link rel="stylesheet" href="/assets/css/main.css?v=ef4a2d2c0d15a8c4ee4c3b5a3f12951378bc25ad">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>