<ul style="font-size: 14px; list-style-type: none; position: fixed; left: 50%; margin-left: -325px">
	{% assign pages_data = site.data§ | map: "pages" | compact %}
	{% for p in pages_data %}
	  	<li style="float: left">
	  		{% if p.title == page.title %}
			<a href="{{ p.url }}" style="display: block; color: black; text-align: center; padding: 16px; padding-left: 10px; padding-right: 10px; text-decoration: underline;">{{ p.title }}</a>
			{% else %}
			<a href="{{ p.url }}" style="display: block; color: black; text-align: center; padding: 16px; padding-left: 10px; padding-right: 10px; text-decoration: none;">{{ p.title }}</a>
			{% endif %}
		</li>
{% endfor %}
</ul>